@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --color-lemon: hsl(84, 37%, 74%);
  --color-dark-lemon: hsl(84, 35%, 49%);
  --color-grey: hsl(0, 0%, 82%);
  --color-dark-grey: hsl(202, 3%, 51%);
  --color-black: hsl(0, 0%, 20%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(348, 83%, 47%);
  --color-green: hsl(150, 60%, 39%);
  --color-yellow: hsl(46, 95%, 56%);
  --color-bg: hsl(0, 0%, 98%);
  --color-bg-grey: hsl(0, 2%, 75%);
  --border-radius: 4rem;
  --input__button__padding: 0.3rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--color-grey);
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark-grey);
}
::-webkit-scrollbar-thumb {
  background: var(--color-black);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-black);
}
::selection {
  background: var(--color-white);
}
.validate__errors {
  color: var(--color-red);
}

a {
  text-decoration: none;
}
.button__container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: var(--color-lemon);
  border: 1px solid var(--color-dark-grey);
  width: 100%;
  padding: var(--input__button__padding);
  cursor: pointer;
  font-weight: 700;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-dark-grey);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  outline: none;
}
.button__container:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-dark-grey);
  border-radius: var(--border-radius);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button__container:hover,
.button__container:focus,
.button__container:active {
  color: var(--color-lemon);
}
.button__container:hover:before,
.button__container:focus:before,
.button__container:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  box-shadow: 0 0 0 1px var(--color-lemon);
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}
.loading p::first-letter {
  font-size: x-large;
  text-transform: uppercase;
}
.user__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.disabledInput {
  cursor: not-allowed;
  background-color: #222222;
}
